@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.sidevideodiv {
  display: flex;
  &__imagediv {
    &--image {
      height: 60px;
      border-radius: 4px;
      width: 95px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 16px;
    font-size: 0.8125rem;
    line-height: 18px;
  }
}
