*,
*::before,
*::after {
  box-sizing: border-box;
}
// a:link,
// a:visited {
//   // color: #227396;
//   color: #ff4081;
// }
a:hover {
  color: #b5b8cb;
  // text-decoration: line-through solid rgb(3, 254, 3);
}
a:active {
  color: #ff0000;
}
// h2 {
//   font-size: 1.25rem;
// }
// h3 {
//   font-size: 1rem;
// }

.app {
  width: 100%;
  margin: 0 auto;
}
// .header {
//   &__bottom {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding: 1rem 0;
//     border-bottom: 2px solid #b7b3b2;
//   }
//   &__logo {
//     text-decoration: none;
//     &:link,
//     &:visited {
//       color: #2b4570;
//       font-size: 1.25rem;
//       letter-spacing: 3px;
//     }
//   }
//   &__nav {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1.5rem;
//   }
//   &__nav-link {
//     text-decoration: none;
//   }
//   &__nav-link--active {
//     &:link,
//     &:visited {
//       // color: #e49273;
//       text-decoration: none;
//       color: #0af;
//       -webkit-text-stroke: 0.9px #fff;
//       text-shadow: 0 0 11px #e4f1e8, 0 0 2px #fff, 0 0 20px #fff,
//         0 0 42px #e4f1e8, 0 0 11px #0af, 0 0 17px #0af, 0 0 2px #0af,
//         0 0 15px #e4f1e8;
//     }
//   }
// }
.header {
  background-color: white;
  background: linear-gradient(
    90deg,
    #787878 0%,
    #b5b5b5 25%,
    #e3e3e3 50%,
    #b5b5b5 75%,
    #787878 100%
  );
  color: #000;
  width: 100%;
  padding: 20px;
  box-shadow: inset white 0px -8px 21px 3px;
  border-bottom: 1px solid black;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #807c7c;
  font-size: 24px;

  &--image {
    width: 31%;
    border-radius: 13px;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 3rem #0af, 0 0 4rem #0af,
      0 0 5rem #0af, inset 0 0 1.3rem 8px #0af;
  }
  &--text {
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
      0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
    &:hover {
      color: #807c7c;
      transition: color 0.6s ease;
    }
  }
}

.header__nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: #807c7c;
  margin-right: 15px;
  font-size: 16px;
  transition: color 0.3s ease;
  text-align: center;
}

// .header__nav-link:hover {
//   color: green;
// }

.header__nav-link--active {
  color: #ff0000;

  // text-decoration: line-through solid rgb(3, 254, 3);
  &:hover {
    color: #ff0000;
  }
}

.home-page {
  padding: 20px;
  background: linear-gradient(
    90deg,
    #787878 0%,
    #b5b5b5 25%,
    #e3e3e3 50%,
    #b5b5b5 75%,
    #787878 100%
  );
}

.home-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page__link {
  text-decoration: none;
  margin: 10px;
  color: #807c7c;
}

.home-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: #000;
  }
}

.home-page__item-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.home-page__item-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.home-page__item-image.square {
  height: 100vh;
  width: 100%;
  border-radius: 5px;
}

.home-page__separator {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  > svg {
    width: 1.5rem;
  }
}
.login-button {
  @extend .button;
  background-color: #f1f8f3;
  &:hover {
    background-color: #e4f1e8;
  }
}
.logout-button {
  @extend .button;
  background-color: #fcf2ee;
  &:hover {
    background-color: #f9e4dc;
  }
}
.profile-page {
  &__avatar {
    width: 12rem;
    padding: 0.5rem;
    background-color: #e4f1e8;
  }
  &__logout-wrapper {
    margin-top: 2rem;
  }
}
.posts-page {
  position: relative;
  display: FLEX;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  left: 12.5%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.25rem 1rem 1rem 1rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.post-form {
  width: 100%;
  position: relative;
  margin-bottom: -0.5rem;
  &__fields {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  &__field {
    margin-bottom: 1rem;
    width: 50%;
  }
  #postTitle,
  #postContent {
    width: 100%;
  }
  #postContent {
    height: 6rem;
  }
  &__label {
    display: block;
    margin-bottom: 0.25rem;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
  }
  &__submit {
    @extend .button;
    position: absolute;
    bottom: 1.3rem;
    cursor: pointer;
    background-color: #f1f8f3;
    color: #227396;
    &:hover {
      background-color: #e4f1e8;
    }
  }
}
.post {
  margin-bottom: 3rem;
  border-bottom: 2px solid #fcf2ee;
  &__title {
    font-size: 1.2rem;
    color: #a37a74;
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__author {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #666;
  }
  &__avatar {
    height: 1.5rem;
  }
  &__username {
    margin: 0;
    font-size: 0.8rem;
  }
  &__owned {
    font-size: 0.75rem;
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    background-color: #e4f1e8;
  }
  &__published {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }
}

.button {
  background-color: hsl(13, 63%, 48%);
  border: none;
  color: #ccc;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0625rem;
  margin: 61px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 6, 0.8);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.6, 1.08);
}

.button:hover {
  background-color: rgb(17, 14, 14);
  color: rgb(9, 253, 45);
  // box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  transition: all 0.9s ease;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem hsl(13, 63%, 48%),
    0 0 0.8rem hsl(13, 63%, 48%), 0 0 2.8rem hsl(13, 63%, 48%),
    inset 0 0 1rem 7px hsl(13, 63%, 48%);
}

.button:active {
  // box-shadow: 0 16px 48px rgba(0, 3.4, 5, 0.6), 0 4px 8px rgba(0, 0, 0, 1);
  color: rgb(73, 73, 95);
  margin: px 1px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 3rem hsl(13, 63%, 48%),
    0 0 4rem hsl(13, 63%, 48%), 0 0 5rem hsl(13, 63%, 48%),
    inset 0 0 1.3rem 8px hsl(13, 63%, 48%);
}

.meal-plan {
  margin: 22px;
}

//   .title-element {
//     font-size: 24px;
//     font-weight: bold;
//     margin-bottom: 10px;
//     color: #333;
//   }

//   .meal-section {
//     margin-bottom: 20px;

//     .meal-element {
//       font-size: 18px;
//       font-weight: bold;
//       color: #555;
//       margin-bottom: 10px;
//     }

//     .meal-name {
//       font-size: 16px;
//       color: #333;
//     }

//     .grocery-list {
//       list-style-type: disc;
//       margin-left: 20px;
//       padding-left: 20px;
//       font-size: 14px;
//       color: #666;

//       li {
//         margin-bottom: 5px;
//       }
//     }
//   }
// }

.title-element {
  color: #f8f8f8;
  font-size: 1.4375rem;
  text-align: center;
  font-weight: 800;
  &:hover {
    -webkit-text-stroke: 0.8px #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
      0 0 20px #0af, 0 0 20px #0af, 0 0 14px #0af, 0 0 4px #0af;
  }
}

.meal-element {
  color: #f8f8f8;
  font-size: 1.1875rem;
  font-weight: 800;
  &:hover {
    -webkit-text-stroke: 0.8px #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
      0 0 20px #0af, 0 0 20px #0af, 0 0 14px #0af, 0 0 4px #0af;
  }
}

.meal-name {
  color: #f8f8f8;
  font-size: 1.125rem;
  font-weight: 800;
  &:hover {
    -webkit-text-stroke: 0.8px #fff;
    text-shadow: 0 0 11px #fff, 0 0 0px #fff, 0 0 20px #fff, 0 0 42px #0af,
      0 0 20px #0af, 0 0 20px #0af, 0 0 2px #0af, 0 0 3px #0af;
  }
}

.grocery-list {
  color: #f8f8f8;
  font-size: 1.0625rem;
  font-weight: 800;
  &:hover {
    -webkit-text-stroke: 0.9px #fff;
    text-shadow: 0 0 11px #e4f1e8, 0 0 2px #fff, 0 0 20px #fff, 0 0 42px #e4f1e8,
      0 0 11px #0af, 0 0 17px #0af, 0 0 2px #0af, 0 0 15px #e4f1e8;
  }

  line-height: 23px;
}

.pa {
  font-family: "futura", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  // color: #ab0c1e;
  // background-color: #cb5e02;
  color: white;
  background-color: black;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  // e: 57px;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem aqua, 0 0 0.8rem aqua,
    0 0 2.8rem aqua, inset 0 0 1.3rem 7px aqua;
  width: 89%;
  margin: auto;
  // animation: flicker 1.5s infinite alternate;
  // color: #fff;
  // -webkit-text-stroke: 2px #fff;
  // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
  //   0 0 20px #0af, 0 0 20px #0af, 0 0 14px #0af, 0 0 4px #0af;

  // text-shadow: 2px 23px 11px #141313;
  // font-size: 56px;
  // font-weight: 200;

  // color: #fff;
  // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
  //   0 0 82px #0af, 0 0 92px #0af, 0 0 102px #0af, 0 0 151px #0af;

  // animation-name: fade;
  // animation-duration: 2s;
  // animation-iteration-count: infinite;
  // animation: pulsate 0.11s ease-in-out infinite alternate;
  // border: 0.2rem solid #fff;
  // border-radius: 2rem;
  // padding: 0.4em;
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
  //   0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  // box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
  //   0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

// @media screen and (prefers-reduced-motion) {
//   h1 {
//     animation: none;
//   }
// }
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
      0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
// @keyframes fade {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0.92;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.videoplan-background {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  // font-size: 20px;
  // color: #333;
  // position: relative;
}

.label {
  font-weight: 600;
  font-size: larger;
  text-align: center;
  padding: 26px;
}

.input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid black;
  color: #ffffff;
  background-color: black;
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem hsl(13, 63%, 48%),
  //   0 0 0.8rem hsl(13, 63%, 48%), 0 0 2.8rem hsl(13, 63%, 48%),
  //   inset 0 0 1.3rem 7px hsl(13, 63%, 48%);
}
.input:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem hsl(13, 63%, 48%),
    0 0 0.8rem hsl(13, 63%, 48%), 0 0 2.8rem hsl(13, 63%, 48%),
    inset 0 0 1.3rem 7px hsl(13, 63%, 48%);
}
input::after {
  border: 1px solid black;
  color: #ffffff;
  background-color: black;
}

.videos-list {
  display: FLEX;
  flex-direction: column;
  align-items: center;
}
.mainvideo {
  display: FLEX;
  flex-direction: column;
  align-items: center;
}

.main {
  &__video {
    background-color: black;
    max-height: 584px;
    width: 100vw;
    aspect-ratio: 16/9;
  }
}
.main-section {
  margin: 24px 16px 0 16px;

  &__title {
    margin: 0 0 16px 0;
  }

  &__header {
    line-height: 32px;
    position: fixed;
  }

  &__metric {
    border: 1px solid silver;
    border-left: none;
    border-right: none;
    padding: 16px 0 16px 0;
    display: flex;
  }

  &__metricupper {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    &--left {
      font-size: 0.8125rem;
      line-height: 18px;
    }
    &--right {
      color: silver;
    }
  }

  &__metriclower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 10px;
    &--left {
      color: silver;
    }
    &--right {
      color: silver;
    }
  }

  &__description {
    padding: 16px 0 16px 0;
    &--text {
      font-size: 0.8125rem;
      line-height: 18px;
    }
  }

  &__commentcount {
    padding: 0 0 16px 0;
    &--title {
      font-size: 0.8125rem;
      line-height: 18px;
    }
  }

  &__formtitle {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    &--text {
      text-align: center;
      font-size: 1rem;
      line-height: 20px;
      color: black;
      font-weight: 700;
      -webkit-text-stroke: 0.8px #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
        0 0 19px #0af, 0 0 0px #0af, 0 0 0px #0af, 0 0 0px #0af;
    }
  }

  &__formsection {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 0 0 16px 0;
    &--div {
      padding: 0 16px 0 0;
    }
  }

  &__formsectionform {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &--input {
      color: white;
      margin: 9px;
      background-color: #218abe;
      border: 1px solid rgb(251, 247, 247);
      border-radius: 4px;
      width: 231px;
      height: 75px;
    }
    &--button {
      border-radius: 15px;
      text-decoration: none;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      padding: 23px;
      background-color: #000;
      height: 36px;
      animation: flicker 1.5s infinite alternate;
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
        0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
    }
    &--button:hover {
      transition: all 0.9s ease;
      color: #fff;
      background-color: black;
      animation: none;
      box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0af,
        0 0 0.8rem #0af, 0 0 2.8rem #0af;
    }
    &--button:active {
      box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 3rem #0af, 0 0 4rem #0af,
        0 0 5rem #0af, inset 0 0 1.3rem 8px #0af;
    }
  }

  &__comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    &--list {
      display: flex;
      border-top: 1px solid grey;
      padding: 16px 0 16px 0;
    }
  }

  &__commentdiv {
    padding: 0 16px 0 0;
    &--image {
      background-color: grey;
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }

  &__commentdivright {
    &--top {
      display: flex;
      justify-content: space-between;
      padding: 0 0 16px 0;
    }
    &--name {
      font-size: 0.8125rem;
      line-height: 18px;
    }
    &--date {
      font-size: 0.8125rem;
      line-height: 18px;
      color: silver;
    }
    &--bottom {
      font-size: 0.8125rem;
      line-height: 18px;
    }
  }
}
.workout-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid;

  background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
  &__title {
    font-size: 2.6rem;
    line-height: 158px;
    text-align: center;

    // animation: flicker 1.5s infinite alternate;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
      0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
  }
}
.sidevideodiv {
  display: flex;
  margin: 34px;
  flex-direction: column;
  max-width: 500px;
  &__imagediv {
    &--image {
      border-radius: 12px;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: whitesmoke;
    text-decoration-line: overline;
    font-size: 1.125rem;
    line-height: 18px;
    &--name {
      font-size: 1.625rem;
      text-align: center;
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
        0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
    }
    &--title {
      line-height: 26px;
      color: aqua;
    }
  }
}

.load {
  display: flex;
  justify-content: center;
  font-size: 56px;
  padding: 51px;
  color: aqua;
  // animation: pulse 1s infinite;
  // display: inline-block;
  width: 257px;
  // height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: auto;
  animation: dotPulse 1.6s infinite;
}

@keyframes dotPulse {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

// about us page
// .hero {
//   text-align: center;
//   padding: 50px 0;
// }

.history {
  &:hover {
    color: #4d3232;
  }
}

.mission {
  &:hover {
    color: #4d3232;
  }
}

.mission-p {
  // color: rgb(3, 254, 3);
  background-color: #f8f8f8;
  animation: bounce 0.9s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.team {
  margin-bottom: 40px;
  &:hover {
    color: #4d3232;
  }
}

/* Hero section */
.hero {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.hero__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 20px;
}

/* Contact form section */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5f5b5b;
}

// contact us page

// main {
//   padding: 20px;
// }

// h1,
// h2 {
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// .hero {
//   text-align: center;
//   padding: 50px 0;
// }

// form {
//   display: flex;
//   flex-direction: column;
//   max-width: 600px;
//   margin: 0 auto;
// }

// label {
//   font-weight: bold;
//   margin-bottom: 5px;
// }

// input[type="text"],
// input[type="email"],
// textarea {
//   padding: 10px;
//   margin-bottom: 20px;
//   border: 1px solid #ccc;
//   border-radius: 3px;
// }

// button[type="submit"] {
//   background-color: #333;
//   color: #f7f7f7;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 3px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// button[type="submit"]:hover {
//   background-color: #f1c40f;
// }

// support page
// main {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 40px 20px;
// }

// .hero {
//   background-size: cover;
//   background-position: center;
//   padding: 100px;
//   text-align: center;
//   color: #fff;
// }

// .hero h1 {
//   font-size: 48px;
//   margin-bottom: 20px;
// }

// .hero p {
//   font-size: 24px;
// }

// .faq {
//   margin-top: 60px;
// }

// .faq h2 {
//   font-size: 36px;
//   margin-bottom: 30px;
// }

// .faq ul {
//   list-style: none;
//   padding: 0;
// }

// .faq li {
//   margin-bottom: 30px;
// }

// .faq h3 {
//   font-size: 24px;
//   margin-bottom: 10px;
// }

// .faq p {
//   font-size: 16px;
//   line-height: 1.5;
//   margin-bottom: 20px;
// }

// .faq a {
//   color: #f44336;
//   text-decoration: none;
//   border-bottom: 2px solid #f44336;
// }

// .faq a:hover {
//   color: #333;
//   border-bottom: 2px solid #333;
// }

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  text-decoration: none;
  color: #807c7c;
  font-size: 16px;
  font-weight: bold;
}

.footer__logo p {
  margin: 0;
}

.footer__logo:hover {
  color: #111;
}
